{% extends 'base.html' %}
{% block title %}Edit Stock{% endblock %}
{% block body %}
    <div class="container table-responsive">
        <table class="table table-bordered border-secondary table-hover text-center" style="margin-top: 5%">
            <thead>
            <tr>
                <th scope="col">Malzeme</th>
                <th scope="col">Adet</th>
                <th scope="col">Birim</th>
                <th scope="col">Lokasyon</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ item['malzeme'] }}
                </td>
                <td>{{ item['adet'] }}</td>
                <td>{{ item['birim'] }}</td>
                <td>{{ item['lokasyon'] }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <form method="post">
            <div class="form-group">
                <label for="malzeme">Malzeme</label>
                <input type="text" name="malzeme" placeholder="Ornek: 'Tomates 10 kg -18'"
                       class="form-control"
                       value="{{ request.form['malzeme'] }}">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-sm">Kaydet</button>
            </div>
        </form>
        <form action="{{ url_for('delete_item', id=item['id']) }}" method="POST">

            <input type="submit" value="Delete Post"
                   class="btn btn-danger btn-sm"
                   onclick="return confirm('Are you sure you want to delete this post?')">
        </form>
    </div>
{% endblock %}